/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER SECTION
#NAVBAR SECTION
#SLIDER SECTION
#ABOUT US SECTION
#COUNTER SECTION
#MENU ITEM SECTION
#RESERVATION SECTION
#GALLERY SECTION
#TESTIMONIAL SECTION
#CHEF SECTION
#CONTACT SECTION
#MAP SECTION
#FOOTER SECTION
#RESPONSIVE DESIGN
*/
@import "variables.css";

body {
  background-color: var(--gp-white-da);
  font-family: "Cabin", "Open Sans";
  color: var(--gp-gray);
  font-size: 16px;
  overflow-x: hidden;
  line-height: 24px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

img {
  border: none;
  max-width: 100%;
}

.main-wrapper {
  margin-top: 90px;
}

.gp-readmore-btn {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 35px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-readmore-btn::after {
  bottom: 5px;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.gp-readmore-btn:hover,
.gp-readmore-btn:focus {
  color: #fff;
}

.gp-readmore-btn:hover::after,
.gp-readmore-btn:focus::after {
  bottom: 0px;
  content: "";
  left: 0px;
  right: 0px;
  top: 0px;
}

.gp-browsmore-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding: 12px 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-browsmore-btn:hover,
.gp-browsmore-btn:focus {
  color: #fff;
}

.gp-send-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-send-btn:hover,
.gp-send-btn:focus {
  color: #fff;
}

/* HEADER SECTION */

#gp-header {
  background-color: var(--gp-gray);
  border-bottom: 4px solid var(--gp-main);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

/* NAVBAR SECTION */

.gp-switch-tel {
  display: none;
}

.gp-main-navbar {
  background-color: transparent;
  border: none;
  padding: 20px 0;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-main-navbar .gp-main-nav {
  /* font-family: "Open Sans", sans-serif; */
  font-size: 20px;
}

.gp-main-navbar .gp-main-nav li a {
  color: #fff;
  background-color: var(--gp-scnd);
  border-radius: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-main-navbar .gp-main-nav li a.active {
  background-color: white;
  color: var(--gp-scnd);
  cursor: default;
}

.gp-main-navbar .gp-main-nav .dropdown-menu {
  background-color: #fff;
  border-radius: 0;
}

.gp-main-navbar .gp-main-nav .dropdown-menu li a {
  padding: 10px 20px;
}

.navbar-brand {
  display: inline-block;
  padding: 0;
  height: auto;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* .gp-main-navbar .navbar-header .navbar-brand img {
  margin-top: -10px;
}
.gp-main-navbar .navbar-header .navbar-brand-small {
  height: 20px;
  margin-top: 16px;
  width: 105px;
}
.gp-main-navbar .navbar-header .navbar-brand-small span {
  margin-top: -4px;
} */

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: var(--gp-scnd);
  background-color: white;
}

.gp-dropdown {
  float: left;
  overflow: hidden;
  cursor: default;
}

.gp-dropdown .gp-dropbtn {
  color: white;
  margin: 0;
  background-color: var(--gp-scnd);
  border-radius: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.gp-dropdown-content a {
  float: none;
  margin-top: 4px;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.gp-dropdown-content a:hover {
  background-color: #ddd;
}

.gp-dropdown:hover .gp-dropdown-content {
  /* opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; */
  display: block;
}

.gp-dropdown:not(:hover) .gp-dropdown-content {
  /* opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; */
  display: none;
}

/*scroll to top*/

.scrollToTop {
  bottom: 48px;
  color: var(--gp-scnd);
  display: none;
  font-size: 32px;
  line-height: 50px;
  position: fixed;
  right: 15px;
  text-align: center;
  text-decoration: none;
  width: 55px;
  height: 55px;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
  background-color: var(--gp-gray);
}

.scrollToTop:hover,
.scrollToTop:focus {
  background-color: var(--gp-gray);
  color: var(--gp-scnd);
}

/* SLIDER SECTION */

#gp-slider {
  display: inline;
  float: left;
  margin-top: 90px;
  width: 100%;
  position: relative;
}

.gp-slider-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-top-slider {
  display: inline;
  float: left;
  width: 100%;
}

.gp-top-slider-single {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}

.gp-top-slider .gp-top-slider-single:after {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

.gp-top-slider .gp-top-slider-single img {
  width: 100%;
}

.gp-top-slider .gp-top-slider-single .gp-top-slider-content {
  position: absolute;
  left: 15%;
  top: 30%;
  right: 15%;
  text-align: center;
  z-index: 99;
}

.gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-small-title {
  font-family: "Tangerine", cursive;
  font-size: 100px;
  font-weight: 400;
  line-height: 40px;
}

.gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-title {
  color: #fff;
  font-size: 70px;
  line-height: 90px;
}

.gp-top-slider .gp-top-slider-single .gp-top-slider-content p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0 30px;
}

.gp-top-slider .slick-prev::before {
  content: "\f177";
  font-family: fontAwesome;
}

.gp-top-slider .slick-next::before {
  content: "\f178";
  font-family: fontAwesome;
}

.gp-top-slider .slick-prev,
.gp-top-slider .slick-next {
  background-color: transparent;
  border: 2px solid #888;
  height: 60px;
  top: 50%;
  width: 70px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-top-slider .slick-prev::before,
.gp-top-slider .slick-next::before {
  color: #888;
}

.gp-top-slider .slick-prev:hover,
.gp-top-slider .slick-prev:focus,
.gp-top-slider .slick-next:hover,
.gp-top-slider .slick-next:focus {
  color: #fff;
}

.gp-top-slider .slick-prev:hover::before,
.gp-top-slider .slick-prev:focus::before,
.gp-top-slider .slick-next:hover::before,
.gp-top-slider .slick-next:focus::before {
  color: #fff;
}

.gp-top-slider .slick-prev {
  left: 20px;
}

.gp-top-slider .slick-next {
  right: 20px;
}

.gp-top-slider .slick-dots {
  bottom: 20px;
}

.gp-top-slider .slick-dots li button {
  border-radius: 50%;
}

.gp-top-slider .slick-dots li button::before {
  color: transparent;
  background: transparent;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-top-slider .slick-dots li.slick-active button::before {
  color: transparent;
  border-radius: 50%;
  opacity: 1;
}

/* ABOUT US SECTION */

#gp-about-us {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.gp-about-us-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-about-us-right {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 15px;
  width: 100%;
}

.gp-about-us-right ul {
  margin-bottom: 20px;
  padding-left: 25px;
}

.gp-about-us-right ul li {
  line-height: 24px;
  margin-bottom: 10px;
}

.gp-about-us-right ul li:before {
  content: "\f0da";
  font-family: fontAwesome;
  margin-right: 10px;
}

.gp-about-us-left {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 30px;
  padding-right: 15px;
  width: 100%;
}

.gp-title {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.gp-title .gp-subtitle {
  font-size: 50px;
  font-family: "Tangerine", cursive;
  line-height: 30px;
}

.gp-title h2 {
  color: #000;
  font-size: 35px;
  margin-bottom: 5px;
}

/* COUNTER SECTION */

#gp-counter {
  background-attachment: fixed;
  background-image: url("assets/img/counter-bg.jpg");
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
}

.gp-counter-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: inline;
  padding: 100px 0;
  float: left;
  width: 100%;
}

.gp-counter-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-counter-nav {
  line-height: 80px;
  text-align: center;
  font-family: 'Tangerine';
  font-size: 80px;
  font-style: italic;
  color: white;
}

.gp-counter-nav {
  display: inline-block;
  width: 100%;
}

.gp-counter-nav li {
  display: inline-block;
}

.gp-counter-nav li:last-child {
  border-right: none;
}

.gp-counter-nav li .gp-single-counter {
  color: #fff;
  display: inline;
  float: left;
  padding: 25px 0;
  text-align: center;
  width: 100%;
}

.gp-counter-nav li .gp-single-counter span {
  font-family: "Tangerine", cursive;
  font-size: 40px;
}

.gp-counter-nav li .gp-single-counter h3 {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.gp-counter-nav li .gp-single-counter h3 span {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
}

.gp-counter-nav li .gp-single-counter h3 sup {
  font-weight: normal;
  display: inline-block;
  font-size: 35px;
}

.gp-counter-nav li .gp-single-counter p {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

/* MENU ITEM SECTION */

#gp-restaurant-menu {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.gp-restaurant-menu-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-restaurant-menu-content {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}

.gp-restaurant-menu {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: none;
}

.gp-restaurant-menu li {
  display: inline-block;
  float: none;
}

.gp-restaurant-menu li a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  margin: 0 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-restaurant-menu li a:hover,
.gp-restaurant-menu .active a,
.gp-restaurant-menu .active a:hover,
.gp-restaurant-menu .active a:focus {
  background-color: #FFF;
}

.gp-tab-content-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0;
}

.gp-tab-content-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}

.gp-tab-content-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%;
}

.gp-menu-item-nav li {
  border-bottom: 1px dashed #ccc;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 100%;
}

.gp-menu-item-nav li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.gp-menu-item-nav li .media .media-left {
  width: 110px;
  height: 110px;
}

.gp-menu-item-nav li .media .media-left a,
.gp-menu-item-nav li .media .media-left a img {
  display: block;
  width: 110px;
  height: 110px;
}

.gp-menu-item-nav li .media .media-body .media-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.gp-menu-item-nav li .media .media-body .media-heading a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-menu-item-nav li .media .media-body .gp-menu-price {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.gp-menu-item-nav li .media .media-body p {
  margin-top: 10px;
  font-size: 14px;
}

/* RESERVATION SECTION */

#gp-reservation {
  background-color: #222;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.gp-reservation-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-reservation-area .gp-title h2 {
  color: #fff;
}

.gp-reservation-content {
  display: inline;
  float: left;
  margin-top: 20px;
  padding: 0 100px;
  width: 100%;
}

.gp-reservation-content h3 {
  color: #fff;
  display: inline-block;
  padding-bottom: 10px;
  font-weight: bold;
}

.gp-reservation-content p {
  color: #fff;
  letter-spacing: 0.5px;
  padding: 0 50px;
  text-align: center;
}

.gp-reservation-left {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}

.gp-reservation-form .form-control {
  margin-bottom: 20px;
}

.gp-reservation-form input[type="text"],
.gp-reservation-form input[type="email"] {
  border-radius: 0;
  color: #000;
  height: 40px;
}

.gp-reservation-form input[type="text"]:focus,
.gp-reservation-form input[type="email"]:focus {
  box-shadow: none;
}

.gp-reservation-form input[type="text"]::-webkit-input-placeholder,
.gp-reservation-form input[type="email"]::-webkit-input-placeholder {
  color: #555;
}

.gp-reservation-form input[type="text"]:-moz-placeholder,
.gp-reservation-form input[type="email"]:-moz-placeholder {
  color: #555;
}

.gp-reservation-form input[type="text"]::-moz-placeholder,
.gp-reservation-form input[type="email"]::-moz-placeholder {
  color: #555;
}

.gp-reservation-form input[type="text"]:-ms-input-placeholder,
.gp-reservation-form input[type="email"]:-ms-input-placeholder {
  color: #555;
}

.gp-reservation-form select {
  border-radius: 0;
  height: 40px;
}

.gp-reservation-form select:focus {
  box-shadow: none;
}

.gp-reservation-form select option {
  margin-bottom: 10px;
  color: #000;
}

.gp-reservation-form textarea {
  border-radius: 0;
  color: #000;
  padding: 10px;
}

.gp-reservation-form textarea:focus {
  box-shadow: none;
}

.gp-reservation-form textarea::-webkit-input-placeholder {
  color: #555;
}

.gp-reservation-form textarea:-moz-placeholder {
  color: #555;
}

.gp-reservation-form textarea::-moz-placeholder {
  color: #555;
}

.gp-reservation-form textarea:-ms-input-placeholder {
  color: #555;
}

.gp-reservation-form button[type="submit"] {
  border: none;
  margin-top: 20px;
  margin-left: 15px;
}

.datepicker {
  border-radius: 0;
  padding: 6px 10px;
}

.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
  font-size: 20px;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
  padding: 6px;
}

.datepicker table tr td.day:hover {
  color: #fff;
}

.gp-reservation-right {
  background-color: #fff;
  display: inline;
  float: left;
  margin-top: 40px;
  width: 100%;
  padding: 10px;
}

.gp-opening-hour {
  display: inline;
  float: left;
  width: 100%;
  padding: 10px;
}

.gp-opening-hour h2 {
  font-family: "Tangerine", cursive;
  font-size: 50px;
  margin: 10px 15px 20px;
  padding-bottom: 15px;
  text-align: center;
}

.gp-opening-hour ul li {
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.gp-opening-hour ul p {
  color: #000;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

/* GALLERY SECTION */

#gp-gallery {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}

.gp-gallery-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-gallery-content {
  display: inline;
  float: left;
  width: 100%;
}

.gp-gallery-body {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}

.gp-single-gallery {
  display: inline;
  float: left;
  margin-bottom: 30px;
  width: 33.33%;
}

.gp-single-gallery:last-child {
  margin-bottom: 0px;
}

.gp-single-gallery .gp-single-gallery-item {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}

.gp-single-gallery .gp-single-gallery-item:hover .gp-single-gallery-info {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.gp-single-gallery .gp-single-gallery-item .gp-single-gallery-img {
  display: inline;
  float: left;
  overflow: hidden;
  width: 100%;
}

.gp-single-gallery .gp-single-gallery-item .gp-single-gallery-img img {

  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.gp-single-gallery .gp-single-gallery-item .gp-single-gallery-info {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 28%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

/* TESTIMONIAL SECTION */

#gp-client-testimonial {
  background-image: url("assets/img/testimonial-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: inline;
  float: left;
  width: 100%;
}

#gp-client-testimonial .gp-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
  float: left;
  padding: 70px 0 100px;
  width: 100%;
}

#gp-client-testimonial .gp-title h2 {
  color: #fff;
}

.gp-client-testimonial-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-testimonial-content {
  display: inline;
  float: left;
  width: 100%;
}

.gp-testimonial-slider {
  display: inline;
  float: left;
  width: 100%;
}

.gp-testimonial-slider li {
  display: inline;
  float: left;
  width: 100%;
}

.gp-testimonial-slider li .gp-testimonial-single {
  display: inline;
  float: left;
  padding: 0 150px;
  position: relative;
  width: 100%;
}

.gp-testimonial-slider li .gp-testimonial-single .gp-testimonial-info {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.gp-testimonial-slider li .gp-testimonial-single .gp-testimonial-info p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 35px;
  margin-top: 30px;
  padding: 0;
  position: relative;
  z-index: 20;
}

.gp-testimonial-slider li .gp-testimonial-single .gp-testimonial-info p:before {
  content: '\f10e';
  font-family: fontAwesome;
  font-size: 50px;
  left: 1%;
  position: absolute;
  text-align: center;
  top: 20%;
  opacity: 0.6;
  width: 100%;
  z-index: -10;
}

.gp-testimonial-slider li .gp-testimonial-single .gp-testimonial-bio {
  color: #fff;
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 30;
}

.gp-testimonial-slider li .gp-testimonial-single .gp-testimonial-bio p {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
  min-width: 175px;
  padding-top: 10px;
}

.gp-testimonial-slider .slick-dots {
  text-align: center;
}

.gp-testimonial-slider .slick-dots li {
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  float: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-testimonial-slider .slick-dots li button {
  display: none;
}

/* CHEF SECTION */

#gp-chef {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.gp-chef-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-chef-content {
  display: inline;
  float: left;
  margin-top: 30px;
  padding-bottom: 60px;
  width: 100%;
}

.gp-chef-nav {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.gp-chef-nav .slick-list li {
  background-color: #f8f8f8;
  display: inline-block;
  margin: 0 5px;
  width: 22%;
  overflow: hidden;
}

.gp-chef-nav .slick-list li:first-child {
  margin-left: 0;
}

.gp-chef-nav .slick-list li:last-child {
  margin-right: 0;
}

.gp-chef-nav .slick-list li .gp-single-chef {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}

.gp-chef-nav .slick-list li .gp-single-chef:hover .gp-single-chef-social {
  bottom: 0;
  opacity: 1;
}

.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-img {
  display: inline;
  float: left;
  width: 100%;
}

.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-img img {
  width: 100%;
}

.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-info {
  display: inline;
  float: left;
  padding: 10px 10px 20px;
  width: 100%;
}

.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-info h4 {
  margin-bottom: 5px;
}

.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-info span {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-social {
  background-color: #000;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 23px 20px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-social a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-social a:hover,
.gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-social a:focus {
  color: #fff;
}

.gp-chef-nav .slick-dots {
  text-align: center;
  margin-bottom: -30px;
}

.gp-chef-nav .slick-dots li {
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  float: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-chef-nav .slick-dots li button {
  display: none;
}

/* CONTACT SECTION */

#gp-contact {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.gp-contact-area {
  display: inline;
  float: left;
  width: 100%;
}

.gp-contact-content {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}

.gp-contact-left {
  display: inline;
  float: left;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.gp-contact-left .form-group {
  margin-bottom: 25px;
}

.gp-contact-left .form-group label {
  font-size: 16px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.gp-contact-form input[type="text"],
.gp-contact-form input[type="email"] {
  color: #000;
  border-radius: 0;
  height: 40px;
}

.gp-contact-form input[type="text"]:focus,
.gp-contact-form input[type="email"]:focus {
  box-shadow: none;
}

.gp-contact-form textarea {
  color: #000;
  border-radius: 0;
  padding: 10px;
}

.gp-contact-form textarea:focus {
  box-shadow: none;
}

.gp-contact-right {
  display: inline;
  float: left;
  padding: 0 30px;
  width: 100%;
}

.gp-contact-right .gp-contact-widget {
  display: inline;
  float: left;
  margin-bottom: 25px;
  width: 100%;
}

.gp-contact-right .gp-contact-widget h3 {
  margin-top: 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.gp-contact-right .gp-contact-widget>p {
  letter-spacing: 0.5px;
  line-height: 26px;
}

.gp-contact-right .gp-contact-widget address {
  margin-top: 20px;
}

.gp-contact-right .gp-contact-widget address p {
  letter-spacing: 0.5px;
}

.gp-contact-right .gp-contact-widget address p i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.gp-contact-right .gp-contact-widget address p span {
  display: inline-block;
  margin-right: 20px;
  min-width: 130px;
}

#form-messages {
  margin-bottom: 10px;
  background-color: #fff;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* MAP SECTION */

#gp-map {
  display: inline;
  float: left;
  height: 450px;
  width: 100%;
}

#gp-map iframe {
  width: 100%;
  height: 100%;
}

/* MENU */

.gp-menu-row>.col {
  padding-top: 12px;
  padding-bottom: 12px;
}

.gp-menu-title {
  text-align: center;
  display: inline;
  float: right;
  width: 100%;
  margin-bottom: 24px;
}

.gp-menu-wrapper {
  display: inline;
  float: left;
  width: 100%;
  padding: 64px 0;
}

.gp-menu-wrapper .gp-menu-row:nth-child(odd) {
  background-image: var(--gp-white-gr);
}

.gp-menu-row {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(90deg, transparent, var(--gp-main), transparent, var(--gp-main), transparent) 0% 0% 100% 0%;
}

.gp-menu-row:last-child {
  border-bottom: 0px;
}

.gp-price {
  color: var(--gp-gray);
}

.gp-menu-price {
  margin: 12px 0px;
  font-weight: bold;
  float: right;
}

.gp-menu-info {
  font-style: italic;
  opacity: 0.5;
  margin-bottom: 0px;
}

.gp-menu-name {
  margin-bottom: 0px;
}

.gp-menu-title>h1,
.gp-menu-title>h2,
.gp-menu-title>h3 {
  font-family: "Leckerli One";
  font-weight: bold;
  text-align: center;
}

.hr-line {
  width: 16%;
  border-width: 0px 0px 12px 0px;
  border-bottom-color: var(--gp-scnd);
  border-style: dotted;
}

.hr-text {
  line-height: 2em;
  height: 3em;
  position: relative;
  border: 0;
  color: var(--gp-scnd);
}

.hr-text:before {
  content: '';
  background: linear-gradient(90deg, transparent, #36c76c, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}

.hr-text:after {
  font-size: 40px;
  font-family: "Leckerli One";
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 .5em;
  line-height: 1em;
  color: var(--gp-scnd);
  background-color: var(--gp-white-da);
}

/* FOOTER SECTION */

#gp-footer {
  background-color: var(--gp-main);
  color: var(--gp-gray);
  display: inline;
  float: left;
  padding: 35px 0 25px 0;
  width: 100%;
}

.gp-footer-area {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.gp-footer-end {
  border-top-width: 2px;
  border-top-style: solid;
  border-image: linear-gradient(90deg, transparent, var(--gp-gray), transparent) 100% 0% 0% 0%;
  align-items: center;
  display: flex;
}

.gp-footer-social {
  justify-content: flex-end;
  display: flex;
  width: 50%;
}

.gp-footer-social a {
  background-color: var(--gp-gray);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 45px;
  line-height: 47px;
  margin: 5px;
  text-align: center;
  width: 45px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gp-footer-social a:hover {
  color: var(--gp-scnd);
}

.gp-footer-copyright {
  justify-content: flex-start;
  display: flex;
  width: 50%;
}

.gp-footer-copyright p {
  font-family: "Open Sans", sans-serif;
  color: black;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1199px) {

  .gp-main-navbar .gp-main-nav li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content {
    position: absolute;
    left: 5%;
    top: 15%;
    right: 5%;
  }

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-small-title {
    font-size: 80px;
  }

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-title {
    font-size: 55px;
    line-height: 70px;
  }

  .gp-reservation-content {
    padding: 0;
  }

  .gp-testimonial-slider li .gp-testimonial-single {
    padding: 0 50px;
  }

  .gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-social {
    padding: 23px 5px;
  }

  .gp-single-gallery .gp-single-gallery-item .gp-single-gallery-info {
    padding-top: 26%;
  }
}


@media (max-width: 991px) {

  /* .gp-main-navbar .gp-main-nav li a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  } */

  .column-footer {
    padding-top: 24px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, transparent, var(--gp-gray), transparent) 0% 0% 100% 0%;
  }

  .column-footer:first-child {
    padding-top: 0px;
  }

  .column-footer:last-child {
    border-bottom: 0;
  }

  .gp-footer-end {
    flex-direction: column-reverse;
  }

  .gp-footer-copyright,
  .gp-footer-social {
    justify-content: initial;
    display: inline;
    width: 100%;
  }

  .gp-top-slider-content .gp-reservation-btn {
    display: none;
  }

  .gp-about-us-left,
  .gp-reservation-form {
    text-align: center;
  }

  .gp-reservation-right {
    margin-top: 60px;
  }

  #gp-contact .gp-contact-area .gp-contact-content .gp-contact-right {
    margin-top: 50px;
    padding: 0;
  }

  #gp-gallery .gp-gallery-area .gp-gallery-content .gp-gallery-body .gp-single-gallery .gp-single-gallery-item .gp-single-gallery-info {
    padding-top: 22%;
  }

  #gp-client-testimonial .gp-client-testimonial-area .gp-testimonial-content .gp-testimonial-slider li .gp-testimonial-single {
    padding: 0 60px;
  }

  #gp-client-testimonial .gp-client-testimonial-area .gp-testimonial-content .gp-testimonial-slider li .gp-testimonial-single .gp-testimonial-info p::before {
    top: 40%;
  }
}


@media (max-width: 767px) {

  #gp-header {
    padding: 0 15px;
  }

  .gp-menu-wrapper {
    padding: 32px 0;
  }

  .gp-menu-title {
    margin-bottom: 16px;
  }

  .navbar-default .navbar-toggle {
    border-radius: 8px;
    border: none;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: white;
  }

  .gp-main-navbar .gp-main-nav {
    background-color: var(--gp-gray);
    text-align: center;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    background-color: #fff;
  }

  #gp-counter .gp-counter-overlay .gp-counter-area .gp-counter-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: none;
  }
}


@media (max-width: 640px) {

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: white;
  }

  #gp-slider .gp-slider-area .gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-title {
    font-size: 50px;
    line-height: 75px;
  }

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content {
    top: 18%;
  }

  #gp-restaurant-menu .gp-restaurant-menu-area .gp-restaurant-menu-content .gp-restaurant-menu li a {
    font-size: 16px;
    margin: 0 5px;
  }

  #gp-gallery .gp-gallery-area .gp-gallery-content .gp-gallery-body .gp-single-gallery .gp-single-gallery-item .gp-single-gallery-info {
    padding-top: 18%;
  }

  #gp-client-testimonial .gp-client-testimonial-area .gp-testimonial-content .gp-testimonial-slider li .gp-testimonial-single {
    padding: 0;
  }

  .gp-testimonial-slider li .gp-testimonial-single .gp-testimonial-info p {
    font-size: 16px;
    line-height: 30px;
  }

  #gp-chef .gp-chef-area .gp-chef-content .gp-chef-nav .slick-list li .gp-single-chef .gp-single-chef-social a {
    margin: 0 3px;
    padding: 3px 0;
    width: 30px;
  }

  .gp-top-slider .slick-dots {
    display: none !important;
  }

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-small-title {
    font-size: 45px;
    line-height: 35px;
  }

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0px;
    padding: 0 5px;
  }

  #gp-slider .gp-slider-area .gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-title {
    font-size: 30px;
    line-height: 50px;
  }
}


@media (max-width: 480px) {

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content {
    top: 20%;
  }

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content p {
    display: none;
  }

  .gp-reservation-content p {
    padding: 0;
  }

  .gp-title {
    margin-bottom: 0;
  }

  #gp-client-testimonial .gp-client-testimonial-area .gp-testimonial-content .gp-testimonial-slider li .gp-testimonial-single {
    padding: 0;
  }

  #gp-subscription .gp-subscription-area .gp-subscription-form input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
  }

  #gp-subscription .gp-subscription-area {
    padding: 0;
    text-align: center;
  }

  #gp-subscription .gp-subscription-area .gp-subscription-form .gp-readmore-btn {
    width: auto;
  }

  #gp-gallery .gp-gallery-area .gp-gallery-content .gp-gallery-body .gp-single-gallery {
    width: 100%;
  }

  #gp-gallery .gp-gallery-area .gp-gallery-content .gp-gallery-body .gp-single-gallery .gp-single-gallery-item .gp-single-gallery-info {
    padding-top: 30%;
  }

  #gp-map {
    height: 350px;
  }

  #gp-restaurant-menu .gp-restaurant-menu-area .gp-restaurant-menu-content .gp-restaurant-menu li {
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {

  #gp-slider .gp-slider-area .gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-title {
    font-size: 22px;
    line-height: 30px;
  }

  .gp-top-slider .gp-top-slider-single .gp-top-slider-content .gp-slider-small-title {
    font-size: 30px;
    line-height: 25px;
  }

  #gp-restaurant-menu .gp-restaurant-menu-area .gp-restaurant-menu-content .gp-restaurant-menu li {
    margin-bottom: 12px;
  }

  #gp-about-us {
    padding: 100px 0 50px;
  }

  #gp-restaurant-menu {
    padding-bottom: 0px;
  }

  #gp-reservation .gp-reservation-area .gp-reservation-content {
    padding: 0;
  }

  .gp-opening-hour h2 {
    font-size: 42px;
    padding-bottom: 10px;
  }

  .gp-title h2 {
    font-size: 28px;
  }

  #gp-client-testimonial .gp-client-testimonial-area .gp-testimonial-content .gp-testimonial-slider li .gp-testimonial-single .gp-testimonial-info p {
    font-size: 16px;
    line-height: 24px;
  }

  #gp-contact .gp-contact-area .gp-contact-content .gp-contact-right {
    text-align: center;
  }

  #gp-contact .gp-contact-area .gp-contact-content .gp-contact-right .gp-contact-widget address {
    text-align: left;
  }

  #gp-contact {
    padding: 100px 0 50px;
  }

  #gp-gallery .gp-gallery-area .gp-gallery-content .gp-gallery-body .gp-single-gallery .gp-single-gallery-item .gp-single-gallery-info {
    padding-top: 27%;
  }

  #gp-footer .gp-footer-area .gp-footer-social a {
    font-size: 18px;
  }

  .gp-menu-item-nav li {
    text-align: center;
  }

  #gp-restaurant-menu .gp-restaurant-menu-area .gp-restaurant-menu-content .gp-tab-content-area .gp-menu-item-nav li .media .media-left {
    height: auto;
    width: 100%;
    margin-right: 0;
    float: left;
  }

  #gp-restaurant-menu .gp-restaurant-menu-area .gp-restaurant-menu-content .gp-tab-content-area .gp-menu-item-nav li .media .media-left a {
    display: inline-block;
    margin-bottom: 10px;
  }

  #gp-restaurant-menu .gp-restaurant-menu-area .gp-restaurant-menu-content .gp-tab-content-area .gp-menu-item-nav li .media .media-left a img {
    display: inline-block;
  }

  #gp-map {
    height: 250px;
  }

  .gp-contact-form .gp-send-btn {
    width: 100%;
  }
}


@media (max-width: 320px) {

  #gp-gallery .gp-gallery-area .gp-gallery-content .gp-gallery-body .gp-single-gallery .gp-single-gallery-item .gp-single-gallery-info {
    padding-top: 25.5%;
  }
}

@media (max-width: 767.99px) {

  .navbar-item-md {
    display: block;
  }

  .gp-switch-tel {
    display: none;
  }

  .footer-item-md {
    display: none !important;
  }

  .navbar-item-lg {
    display: none;
  }
}

@media (min-width: 768px) {

  .navbar-item-lg {
    display: block;
  }

  .navbar-item-md {
    display: none;
  }

  .gp-switch,
  .gp-switch-tel {
    display: none !important;
  }

  .footer-item-md {
    display: block !important;
  }
}

/* LEFT - IMAGE - RIGHT */

section.cook-delecious {
  padding: 100px 0px;
}

.cook-delecious .first-image {
  margin-right: -30px;
  margin-top: 7.5%;
}

.cook-delecious .first-image img {
  width: 100%;
  overflow: hidden;
  border-radius: 16px 0px 0px 16px;
}

.cook-delecious .second-image {
  margin-left: -30px;
  margin-top: 7.5%;
}

.cook-delecious .second-image img {
  width: 100%;
  overflow: hidden;
  border-radius: 0px 16px 16px 0px;
}

.cook-delecious .cook-content {
  background-color: var(--gp-main);
  border-radius: 16px;
  text-align: center;
  padding: 30px;
}

.cook-delecious .cook-content h4 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.cook-content .contact-content {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 20px 30px;
}

.cook-content .contact-content span {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cook-content .contact-content h6 {
  color: white;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.cook-content span {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid var(--gp-scnd);
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .cook-delecious .first-image {
    margin-right: 0px;
    margin-top: 0%;
    padding: 0px 10%;
  }

  .cook-delecious .second-image {
    margin-left: 0px;
    margin-top: 0%;
    padding: 0px 10%;
  }

  .cook-delecious .first-image img {
    border-radius: 16px 16px 0px 0px;
  }
  
  .cook-delecious .second-image img {
    border-radius: 0px 0px 16px 16px;
  }

  .cook-content .contact-content h6 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .cook-delecious .first-image {
    margin-right: 0px;
    margin-top: 0%;
    padding: 0px 10%;
  }

  .cook-delecious .second-image {
    margin-left: 0px;
    margin-top: 0%;
    padding: 0px 10%;
  }

  .cook-content .contact-content h6 {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}